################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApp3/obj/Debug
/WindowsFormsApp3/Properties
